.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--bg-default);
  border-top: 1px solid var(--divider);
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.logoRow {
  display: flex;
  align-items: center;
  gap: 6px;
}
